@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 255, 255, 255;
  --background-bg: 0, 0, 0;
  --scroll-rgb: 34, 34, 34
}

#root {
  color: rgb(var(--color-rgb));
  background-color: rgb(var(--background-bg));
}
.second-font {
  font-family: var(--second-font);
}
* {
  font-family: var(--root-font);
}

::-webkit-scrollbar, .dark {
  width: .5rem;
  height: .5rem;
  cursor: pointer;
}
::-webkit-scrollbar-track, .dark {
  background-color: transparent;
}
::-webkit-scrollbar-thumb, .dark {
  width: .5rem;
  height: .5rem;
  border-radius: 9999px;
  background-color: rgb(var(--scroll-rgb));
}

.body_wrapper {
  max-width: 100dvw;
  width: 100%;
  height: fit-content;
}
.page_wrapper {
    height: calc(100vh - 80px);
}